{% extends 'base.html' %}
{% include 'header.html' %}



{% block title %} Home {% endblock %}



{% block body %}
<div class="form">
    

<form action="{{url_for('enter')}}" method="POST">
    <p>
        <label For="company_name">Company Name</label>
        <input type="text" name="company_name" placeholder="Company_name" required>
    </p>
    <p>
        <label For="company_address">Company Address</label>
        <input type="text" name="company_address" placeholder="Company_address" required>
    </p>
    <input type="submit" value="Submit" >
</form>
   


</div>

{% endblock %}